/* Home.css */
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
  height: 100vh;
  width: 100% ;
}

.big-card {
  margin: 40px;
  width: 100%;
}

.small-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.card {
  background-color: #5387ca;
  border: 10px solid #164af1;
  border-radius: 8px;
  padding: 10px;
  width: 97%;
 
}

h3 {
  margin-top: 0;
}
